/*comentario de CSS*/

body {
    background-image: url(/assets/fondoo.jpg);
}

h1 {
    font-size: 2.5em;
    text-align: center;
}


a {
    color: blanchedalmond
}

a {
    background-color: rgb(31, 122, 122);
}

table {
    background-image: url(/assets/imágenes/assets/imágenes/tabla-fondoo.png);
    text-align: center;
    border-collapse: collapse;
    width: 50%;
}


th {
    border: 5px solid cornflowerblue;
    background-color: brown;
    color: aliceblue
}

table tr {
    text-align: center;
}

p {
    font-size: 1.5em;
    background-color:#00ffff00;
}

p {
    color:black;
}

p{
    text-align: center;
}
