/*comentario de CSS*/
img{
    width: 70%;
}
body{
    background-color: aqua;
}
h1{
    font-size: 2.5em;
    text-align: center; 
    background-color: chocolate;
}
td{
    background-color: rgb(111, 96, 126);
}
a{
    color:blanchedalmond
}
a{
    background-color:rgb(31, 122, 122);
}
table{
    text-align:center;
    border-collapse: collapse;
    width: 100%;
}
td{
    background-color: beige;
}
th{
    border: 5px solid cornflowerblue;
    background-color: brown;
    color:aliceblue
}
table tr{
    text-align: center;
}